/* Menu */

#menu {
    position: sticky;
    top: 0;
    z-index: 90;
  }
  
  .menu, li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(129, 88, 197);
    color: #fff;
    text-decoration: none;
    list-style: none;
    text-align: center;
    min-height: 25px;
    cursor: pointer;
  
    border-radius: 5px;
    position: relative;
    z-index: 1;
  }
  
  .menu li:hover {
    background-color: rgb(255, 162, 0);
    color:rgb(129, 88, 197);
  }
  
  /* Submenus */
  
  .menu ul {
    display: none;
    position: absolute;
    background-color: rgb(129, 88, 197);
    top: 25px;
    width: 100%;
    border-radius: 5px;
  }
  
  .menu ul:hover {
    background-color: rgb(255, 162, 0);
    color:rgb(129, 88, 197);
  }
  
  .menu ul ul {
    top: 0px;
    left: 100%;
  }
  
  .menu li:hover > ul {
    display: block;
  }
  
  li:hover {
    color: rgb(129, 88, 197);
  }
  
  /* Menu Responsivo */
  
  .btn_menu {
    color: #fff;
    background-color: red;
  }
  
  .btn_menu:hover {
    color: #000;
    background-color: #fff;
  }
  
  #btn_menu {
    display: none;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background-color: rgb(129, 88, 197);
  }
  
  @media (max-width: 830px) {
    #menu_hide {
      display: none;
    }
    
    #btn_menu {
      display: block;
    }
  }
  
  
  @media(max-width: 600px){
    .menu {
      flex-direction: column;
      padding-bottom: 15px;
    }
  }
  
  .btn-bar {
    background-color: rgb(129, 88, 197);
    border-radius: 5px;
    padding: 3px;
    color: rgb(255, 162, 0);
  }